
$main-color:#484bb3;
$sub-color: #f7f7f7;

div {
    box-sizing: border-box;
}
body {
    margin: 0px;
    background-color: $sub-color !important;
}
p {
    font-size: 20px;
}

.navi-bar {
    background-color: white;
    width: 100%;
    padding: 10px 20px 10px 67px;
    display: flex;
    box-shadow: 0px 0px 5px 0px rgb(186, 186, 186);
}
.search-bar {
    float: left;

    .input-text{
        float: left;
        border: 1.5px solid lightgrey;
        border-radius: 5px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 200px;
        padding: 5px 5px 5px 10px;
        transition: all 1s;
    }
    .input-text:focus {
        width: 400px;
    }
    button {
        float: left;
        border: none;
        border-radius: 5px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        width: 40px;
        height: 37px;
        background-color: #242424;
        color: white;
        font-size: 15px;
        padding: 5px;
    }
}
.user-bar {
    display: flex;
    .nav-item {
        list-style: none;
        float: right;
    }
    .nav-link {
        text-decoration: none;
        color: grey;
        float: right;
    }
}
.side-bar {
    position: fixed;
    z-index: 5;
    width: 40px;
    height: 100%;
    background-color: $main-color;
    color: white;
}
.dashboard-container {
    padding: 10px 20px 10px 67px;
}
@mixin box($color) {
    width: 96%;
    height: 160px;
    // border: 1px solid rgb(193, 193, 193);
    border-left: 5px solid $color;
    border-radius: 7px;
    background-color: white;
    box-shadow: 0px 3px 3px 0px lightgrey;
    padding: 30px 25px 20px 25px;
    display: flex;
    justify-content:space-between;
    
    i {
        font-size: 40px;
        color: grey;
        margin-top: 30px
    }
}
.dash-box-lb {
    @include box(lightblue);
}
.dash-box-gr {
    @include box(chartreuse);
}
.dash-box-bl{
    @include box(#484bb3);
}
.dash-box-yl {
    @include box(gold);
}

@media screen and(max-width : 768px) {

}
